<a href="https://colab.research.google.com/github/2003006/TEAM-POWER/blob/main/TeamPower_sql.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1.0 Connecting to our database

In [ ]:
# We will first load the sql extension into our environment
%load_ext sql

# Then connect to our in memory sqlite database
# NB: This database will cease to exist as soon as the database connection is closed. 
%sql sqlite://

'Connected: @None'

###1.1 Importing pandas from CSV

In [ ]:
# Importing the pandas library
# We will use a function read_csv from pandas to read our datasets as shown
#
import pandas as pd

In [ ]:
# Loading our table from the respective CSV files
# We will export the dataset that we have cleaned using python
#
with open('/content/Kenya_Food_Prices.csv','r') as f:
    prices = pd.read_csv(f, index_col=0, encoding='utf-8')

###1.3 Change date from object to datetime.

In [ ]:
#changing date from object to datetime datatype
prices['date'] = pd.to_datetime(prices['date'])

In [ ]:
#previwing information about out dataset
prices.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7047 entries, 1 to 7047
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           7047 non-null   datetime64[ns]
 1   item_name      7047 non-null   object
 2   unit           7047 non-null   object
 3   category       7047 non-null   object
 4   sh_price       7047 non-null   float64
 5   regions        7047 non-null   object
 6   region_id      7047 non-null   int64
 7   market_name    7047 non-null   object
 8   market_id      7047 non-null   float64
 9   item_code      7047 non-null   int64
 10  point_id       7047 non-null   float64
 11  category_id    7047 non-null   int64
 12  serial_number  7047 non-null   object
dtypes: datetime64[ns](1), float64(3), int64(3), object(6)
memory usage: 770.8+ KB

In [ ]:
#persisting and viewing 5 rows of our dataset
%sql DROP TABLE if EXISTS prices;
%sql PERSIST prices;
%sql SELECT * FROM prices LIMIT 5;

 * sqlite://
Done.
 * sqlite://
 * sqlite://
Done.

[(1, '2006-01-15 00:00:00.000000', 'Beans - Wholesale', 'KG', 'pulses and nuts', 33.63, 'Coast', 51326, 'Mombasa', 191.0, 50, 14.0, 5, '191_50_14_5'),
 (2, '2006-02-15 00:00:00.000000', 'Beans - Wholesale', 'KG', 'pulses and nuts', 39.478, 'Coast', 51326, 'Mombasa', 191.0, 50, 14.0, 5, '191_50_14_5'),
 (3, '2006-03-15 00:00:00.000000', 'Beans - Wholesale', 'KG', 'pulses and nuts', 44.68600000000001, 'Coast', 51326, 'Mombasa', 191.0, 50, 14.0, 5, '191_50_14_5'),
 (4, '2006-04-15 00:00:00.000000', 'Beans - Wholesale', 'KG', 'pulses and nuts', 43.836999999999996, 'Coast', 51326, 'Mombasa', 191.0, 50, 14.0, 5, '191_50_14_5'),
 (5, '2006-05-15 00:00:00.000000', 'Beans - Wholesale', 'KG', 'pulses and nuts', 39.734, 'Coast', 51326, 'Mombasa', 191.0, 50, 14.0, 5, '191_50_14_5')]

###1.4 Data Analysis

####1)To find out the average food prices per category from March 2020 (beginning of the Covid19 Pandemic) to February 2021.

In [ ]:
%%sql
select category, avg(sh_price) from prices
where date <= '2021-02-15' and date >= '2020-03-01' 
group by category

 * sqlite://
Done.

[('cereals and tubers', 249.00408781725892),
 ('meat, fish and eggs', 470.76388333333335),
 ('milk and dairy', 51.324761904761914),
 ('miscellaneous food', 61.449996),
 ('non-food', 88.80799999999998),
 ('oil and fats', 163.10849655172413),
 ('pulses and nuts', 724.5881357142856),
 ('vegetables and fruits', 33.67156764705882)]

####2)To find ou average food price per category from 2006-01-15 to 2020-02-29

In [ ]:
%%sql
select category, avg(sh_price) from prices
where date <= '2020-02-29' and date >= '2006-01-15' 
group by category

 * sqlite://
Done.

[('cereals and tubers', 1437.742519624783),
 ('milk and dairy', 36.70517857142857),
 ('non-food', 90.25719298245613),
 ('oil and fats', 181.65863095238095),
 ('pulses and nuts', 2413.2615793122563)]

####3)To find the average food prices per category from 2006-01-15 to 2021-02-15

In [ ]:
%%sql
select category, avg(sh_price) from prices
where date <= '2021-02-15' and date >= '2006-01-15' 
group by category

 * sqlite://
Done.

[('cereals and tubers', 1382.6150546845565),
 ('meat, fish and eggs', 470.76388333333335),
 ('milk and dairy', 38.32957671957672),
 ('miscellaneous food', 61.449996),
 ('non-food', 90.04089552238803),
 ('oil and fats', 178.9279005076142),
 ('pulses and nuts', 2362.3924492200103),
 ('vegetables and fruits', 33.67156764705882)]

####4)To find food prices per category in all regions a) Overall

In [ ]:
%%sql
select category, regions, avg(sh_price) from prices
where date <= '2021-02-15' and date >= '2006-01-15' 
group by category,regions

 * sqlite://
Done.

[('cereals and tubers', 'Coast', 953.0321471092075),
 ('cereals and tubers', 'Eastern', 1411.1817799373043),
 ('cereals and tubers', 'Nairobi', 1519.5847608108106),
 ('cereals and tubers', 'North Eastern', 58.39622713178294),
 ('cereals and tubers', 'Nyanza', 1973.6664675384607),
 ('cereals and tubers', 'Rift Valley', 1396.1455574610236),
 ('meat, fish and eggs', 'Nairobi', 478.020825),
 ('meat, fish and eggs', 'North Eastern', 462.5),
 ('meat, fish and eggs', 'Rift Valley', 450.0),
 ('milk and dairy', 'Coast', 50.0),
 ('milk and dairy', 'Nairobi', 37.40049180327869),
 ('milk and dairy', 'North Eastern', 90.0),
 ('milk and dairy', 'Rift Valley', 70.0),
 ('miscellaneous food', 'Coast', 62.49998333333334),
 ('miscellaneous food', 'Nairobi', 65.0),
 ('miscellaneous food', 'North Eastern', 47.8125),
 ('miscellaneous food', 'Rift Valley', 64.16666666666667),
 ('non-food', 'Nairobi', 90.04089552238803),
 ('oil and fats', 'Coast', 162.49996666666667),
 ('oil and fats', 'Nairobi', 179.41288494623652),
 ('oil and fats', 'North Eastern', 154.0),
 ('oil and fats', 'Rift Valley', 198.33333333333334),
 ('pulses and nuts', 'Coast', 2351.5212250000013),
 ('pulses and nuts', 'Eastern', 70.25855555555556),
 ('pulses and nuts', 'Nairobi', 3106.095966129032),
 ('pulses and nuts', 'North Eastern', 94.375),
 ('pulses and nuts', 'Nyanza', 3221.2156435185184),
 ('pulses and nuts', 'Rift Valley', 2229.5971239757196),
 ('vegetables and fruits', 'Coast', 24.444444444444443),
 ('vegetables and fruits', 'Nairobi', 23.041666666666668),
 ('vegetables and fruits', 'North Eastern', 63.66666),
 ('vegetables and fruits', 'Rift Valley', 41.25)]

####5)To find food prices per category in all regions a) from 2006-01-15 to 2020-02-29

In [ ]:
%%sql
select category, regions, avg(sh_price) from prices
where date <= '2020-02-29' and date >= '2006-01-15' 
group by category,regions

 * sqlite://
Done.

[('cereals and tubers', 'Coast', 1015.2225032258062),
 ('cereals and tubers', 'Eastern', 1446.1274591572123),
 ('cereals and tubers', 'Nairobi', 1585.0933626334515),
 ('cereals and tubers', 'North Eastern', 56.703114035087715),
 ('cereals and tubers', 'Nyanza', 1976.6323804314318),
 ('cereals and tubers', 'Rift Valley', 1452.6807099218743),
 ('milk and dairy', 'Nairobi', 36.70517857142857),
 ('non-food', 'Nairobi', 90.25719298245613),
 ('oil and fats', 'Nairobi', 181.65863095238095),
 ('pulses and nuts', 'Coast', 2412.627523783785),
 ('pulses and nuts', 'Eastern', 69.05023529411766),
 ('pulses and nuts', 'Nairobi', 3138.3169095394733),
 ('pulses and nuts', 'Nyanza', 3221.2156435185184),
 ('pulses and nuts', 'Rift Valley', 2281.8546373228337)]

####6)To find food prices per category in all reqion a) from 2020-03-01 to 2021-02-15

In [ ]:
%%sql
select category, regions, avg(sh_price) from prices
where date <= '2021-02-15' and date >= '2020-03-01' 
group by category,regions

 * sqlite://
Done.

[('cereals and tubers', 'Coast', 135.13473636363636),
 ('cereals and tubers', 'Eastern', 384.44444285714286),
 ('cereals and tubers', 'Nairobi', 292.39028666666667),
 ('cereals and tubers', 'North Eastern', 71.26388666666666),
 ('cereals and tubers', 'Nyanza', 48.788999999999994),
 ('cereals and tubers', 'Rift Valley', 316.0710029850747),
 ('meat, fish and eggs', 'Nairobi', 478.020825),
 ('meat, fish and eggs', 'North Eastern', 462.5),
 ('meat, fish and eggs', 'Rift Valley', 450.0),
 ('milk and dairy', 'Coast', 50.0),
 ('milk and dairy', 'Nairobi', 45.187999999999995),
 ('milk and dairy', 'North Eastern', 90.0),
 ('milk and dairy', 'Rift Valley', 70.0),
 ('miscellaneous food', 'Coast', 62.49998333333334),
 ('miscellaneous food', 'Nairobi', 65.0),
 ('miscellaneous food', 'North Eastern', 47.8125),
 ('miscellaneous food', 'Rift Valley', 64.16666666666667),
 ('non-food', 'Nairobi', 88.80799999999998),
 ('oil and fats', 'Coast', 162.49996666666667),
 ('oil and fats', 'Nairobi', 158.4525888888889),
 ('oil and fats', 'North Eastern', 154.0),
 ('oil and fats', 'Rift Valley', 198.33333333333334),
 ('pulses and nuts', 'Coast', 736.5690428571427),
 ('pulses and nuts', 'Eastern', 90.8),
 ('pulses and nuts', 'Nairobi', 1473.5681666666667),
 ('pulses and nuts', 'North Eastern', 94.375),
 ('pulses and nuts', 'Rift Valley', 846.9504166666667),
 ('vegetables and fruits', 'Coast', 24.444444444444443),
 ('vegetables and fruits', 'Nairobi', 23.041666666666668),
 ('vegetables and fruits', 'North Eastern', 63.66666),
 ('vegetables and fruits', 'Rift Valley', 41.25)]

###1.5 Conclusions.

Average food prices per category from March 1, 2020 to February 15, 2021 (After Covid 19)
After Covid 19 pandemic, in March 2020, it was noted that the category with the highest prices were pulses and nuts while vegetables and fruits category were the cheapest.

Average food prices per category from January 15, 2006 to February 29, 2020 (Before Covid 19)
It was noted that before Covid 19, the prices for nuts and pulses were high. The category of Milk and dairy had lower prices. 

Average food prices overall (January 15, 2006 to February 15, 2021)
Overally, the category of pulses and nuts were expensive and the cheapest category was vegetable and fruits. 

Food prices per category in all regions:
Overall
Analysis done on food prices per category in all regions indicated that the category of cereals and tubers were expensive in Nyanza and cheapest in North Eastern. For the case of meat, fish and eggs  they were cheap in RiftValley region and expensive in Nairobi region. Milk and dairy were expensive in the North Eastern region and cheap in Nairobi. Oil and fats were expensive in Eastern and cheap in Coast. Pulses and nuts were expensive in Nyanza and cheap in Eastern. Vegetables and fruits were expensive in the North Eastern region and cheap in Nairobi.

The food price per category in all region from January 15, 2006 to February 29, 2020
Cereals and tubers were expensive in Nyanza and cheap in the North Eastern. The prices for milk and dairy were only reported in Nairobi. It was also noted that the prices for oils and fats category were only reported in the Nairobi region. Pulses and nuts were expensive in Nyanza and cheap in Eastern.

Food price per category in all regions from March 1, 2020 to February 15, 2021
Cereals and tubers were expensive in Eastern, cheap in Nyanza. Meat, fish and eggs were cheap in RiftValley and expensive in Nairobi. Milk and dairy were expensive in the North Eastern and cheap in Nairobi. Oils and fats were expensive in Eastern and cheap in Coast. Pulses and nuts were expensive in Nairobi and cheap in Eastern. Vegetables and fruits were expensive in the North Eastern and cheap in Nairobi.

###1.6 Recommendations.

It was noted that there was a drop in prices for some food categories such as pulses, oils and fats, cereals and tubers. It was also noted that there was an increase in prices for some food categories such as milk and dairy. Hence, Covid 19 affected food prices in Kenya during the period of study.

Due to the changes in prices during the infection of Covid 19, we therefore recommend that Kenyans, producers, consumers, government agencies etc should put in place mechanisms and policies such as food security policy, price regulations etc that will cushion them in the event of another pandemic in future.