<a href="https://colab.research.google.com/github/2003006/TEAM-POWER/blob/main/TeamPower.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

###1.0 Importing our libraries

In [ ]:
#import the pandas library
import pandas as pd

In [ ]:
#import the numpy library
import numpy as np

###1.1 Loading our dataset.

In [ ]:
#loading dataset into our environment
df = pd.read_csv('/content/wfp_food_prices_kenya.csv')

In [ ]:
# priewing 2 rows of our dataset
df.head(2)

         date             cmname  ...           sn default
0       #date         #item+name  ...     #meta+id     NaN
1  2006-01-15  Beans - Wholesale  ...  191_50_14_5     NaN

[2 rows x 17 columns]

###1.2 Accessing Information about our dataset.

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7048 entries, 0 to 7047
Data columns (total 17 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   date      7048 non-null   object
 1   cmname    7048 non-null   object
 2   unit      7048 non-null   object
 3   category  7048 non-null   object
 4   price     7048 non-null   object
 5   currency  7048 non-null   object
 6   country   7048 non-null   object
 7   admname   7048 non-null   object
 8   adm1id    7048 non-null   object
 9   mktname   7048 non-null   object
 10  mktid     7047 non-null   float64
 11  cmid      7048 non-null   object
 12  ptid      7047 non-null   float64
 13  umid      7047 non-null   float64
 14  catid     7048 non-null   object
 15  sn        7048 non-null   object
 16  default   0 non-null      float64
dtypes: float64(4), object(13)
memory usage: 936.2+ KB

###1.3 Cleaning our dataset.

####1.3.1 Validity

######1.3.1.1 Dropping irrelevant columns and row.

In [ ]:
#Dropping unwanted columns not relevant in analysis
dcolumns = ['currency','country','default','umid']
df.drop(dcolumns , axis =1, inplace=True)

In [ ]:
df.head(2)

         date             cmname  ...            catid           sn
0       #date         #item+name  ...  #item+type+code     #meta+id
1  2006-01-15  Beans - Wholesale  ...                5  191_50_14_5

[2 rows x 13 columns]

######1.3.1.2 Dropping irrelevant rows

In [ ]:
#dropping irrelevant rows.
df.drop([0], inplace =True)

In [ ]:
df.head(1)

         date             cmname unit  ...  ptid catid           sn
1  2006-01-15  Beans - Wholesale   KG  ...  14.0     5  191_50_14_5

[1 rows x 13 columns]

######1.3.1.3 Counting non-missing values in the dataset

In [ ]:
#count the non_missing values in the dataset
df.count()

date        7047
cmname      7047
unit        7047
category    7047
price       7047
admname     7047
adm1id      7047
mktname     7047
mktid       7047
cmid        7047
ptid        7047
catid       7047
sn          7047
dtype: int64

######1.3.1.4 Renaming columns

In [ ]:
#renaming our columns
df.columns =[
             'Date',
             'Item Name',
             'Unit',
             'Category',
             'Sh Price',
             'Regions',
             'Region ID',
             'Market Name',
             'Market ID',
             'Item Code',
             'Point ID',
             'Category ID',
             'Serial Number'
]
df.head(2)

         Date          Item Name Unit  ... Point ID Category ID Serial Number
1  2006-01-15  Beans - Wholesale   KG  ...     14.0           5   191_50_14_5
2  2006-02-15  Beans - Wholesale   KG  ...     14.0           5   191_50_14_5

[2 rows x 13 columns]

In [ ]:
#checking the shape of our dataset
df.shape

(7047, 13)

####1.3.2 Accuracy

In [ ]:
#df[(df['date'] <  '2021-02-15') & (df['date'] >= '2006-01-15') ].index
values = (df['Date'] < '2021-02-15') & (df['Date'] <= '2006-01-15')
df.loc[values]

            Date                         Item Name  ... Category ID  Serial Number
1     2006-01-15                 Beans - Wholesale  ...           5    191_50_14_5
144   2006-01-15                 Maize - Wholesale  ...           1    191_51_14_5
290   2006-01-15         Maize (white) - Wholesale  ...           1   191_67_14_17
460   2006-01-15           Beans (dry) - Wholesale  ...           5  191_262_14_17
876   2006-01-15               Sorghum - Wholesale  ...           1   187_65_14_17
1021  2006-01-15            Maize (white) - Retail  ...           1    187_67_15_5
1201  2006-01-15      Potatoes (Irish) - Wholesale  ...           1  187_148_14_22
1343  2006-01-15              Beans (dry) - Retail  ...           5   187_262_15_5
1523  2006-01-15            Maize (white) - Retail  ...           1    190_67_15_5
1709  2006-01-15                 Beans - Wholesale  ...           5    184_50_14_5
1845  2006-01-15                 Maize - Wholesale  ...           1    184_51_14_5
2023  2006-01-15                    Bread - Retail  ...           1   184_55_15_24
2202  2006-01-15               Sorghum - Wholesale  ...           1   184_65_14_17
2372  2006-01-15         Maize (white) - Wholesale  ...           1   184_67_14_17
2543  2006-01-15          Oil (vegetable) - Retail  ...           6   184_96_15_15
2725  2006-01-15      Potatoes (Irish) - Wholesale  ...           1  184_148_14_22
2897  2006-01-15           Beans (dry) - Wholesale  ...           5  184_262_14_17
3270  2006-01-15  Milk (cow, pasteurized) - Retail  ...           3  184_472_15_25
3613  2006-01-15            Maize (white) - Retail  ...           1    189_67_15_5
3906  2006-01-15                 Beans - Wholesale  ...           5    186_50_14_5
4066  2006-01-15                 Maize - Wholesale  ...           1    186_51_14_5
4230  2006-01-15               Sorghum - Wholesale  ...           1   186_65_14_17
4391  2006-01-15         Maize (white) - Wholesale  ...           1   186_67_14_17
4555  2006-01-15      Potatoes (Irish) - Wholesale  ...           1  186_148_14_22
4716  2006-01-15           Beans (dry) - Wholesale  ...           5  186_262_14_17
4880  2006-01-15                 Beans - Wholesale  ...           5    185_50_14_5
5036  2006-01-15                 Maize - Wholesale  ...           1    185_51_14_5
5377  2006-01-15         Maize (white) - Wholesale  ...           1   185_67_14_17
5715  2006-01-15           Beans (dry) - Wholesale  ...           5  185_262_14_17
5885  2006-01-15            Maize (white) - Retail  ...           1    188_67_15_5

[30 rows x 13 columns]

In [ ]:
df.shape

(7047, 13)

####1.3.3 Completeness

In [ ]:
#checking for null values in the dataset(df)
df.isnull().sum()
# there were no null values in the dataset(df)

Date             0
Item Name        0
Unit             0
Category         0
Sh Price         0
Regions          0
Region ID        0
Market Name      0
Market ID        0
Item Code        0
Point ID         0
Category ID      0
Serial Number    0
dtype: int64

####1.3.4 Consistency

In [ ]:
#Checking for duplicates values
df.duplicated().sum()
#There were no duplicated values found.

0

####1.3.5 Uniformity

######1.3.5.1 Changing columns to lowercase and removing whitespaces

In [ ]:
#checking for whitespaces in the dataset
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

In [ ]:
df.head(2)

         date          item_name unit  ... point_id category_id serial_number
1  2006-01-15  Beans - Wholesale   KG  ...     14.0           5   191_50_14_5
2  2006-02-15  Beans - Wholesale   KG  ...     14.0           5   191_50_14_5

[2 rows x 13 columns]

In [ ]:
 df['sh_price']=df.sh_price.astype(float)

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7047 entries, 1 to 7047
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   date           7047 non-null   object
 1   item_name      7047 non-null   object
 2   unit           7047 non-null   object
 3   category       7047 non-null   object
 4   sh_price       7047 non-null   float64
 5   regions        7047 non-null   object
 6   region_id      7047 non-null   object
 7   market_name    7047 non-null   object
 8   market_id      7047 non-null   float64
 9   item_code      7047 non-null   object
 10  point_id       7047 non-null   float64
 11  category_id    7047 non-null   object
 12  serial_number  7047 non-null   object
dtypes: float64(3), object(10)
memory usage: 770.8+ KB

###1.4Exporting the cleaned dataframe

In [ ]:
df.to_csv('Kenya_Food_Prices.csv')

###1.5 Data analysis

####1)Average food prices per category from march 2020- feb 2021

In [ ]:
df.loc[(df['date'] <= '2021-02-01') & (df['date'] >= '2020-03-01'), ['category','sh_price']].groupby('category').mean()

                         sh_price
category
cereals and tubers     249.004088
meat, fish and eggs    470.763883
milk and dairy          51.324762
miscellaneous food      61.449996
non-food                88.808000
oil and fats           163.108497
pulses and nuts        724.588136
vegetables and fruits   33.671568

####2)Average food price per category from 2006-01-15 to 2020-02-29

In [ ]:
df.loc[(df['date'] <= '2020-02-29') & (df['date'] >= '2006-01-15'), ['category','sh_price']].groupby('category').mean()

                       sh_price
category
cereals and tubers  1437.742520
milk and dairy        36.705179
non-food              90.257193
oil and fats         181.658631
pulses and nuts     2413.261579

####3.Average food prices per category from 2006-01-15 to 2021-02-15

In [ ]:
df.loc[(df['date'] <= '2021-02-15') & (df['date'] >= '2006-01-15'), ['category','sh_price']].groupby('category').mean()

                          sh_price
category
cereals and tubers     1351.778576
meat, fish and eggs     464.726374
milk and dairy           42.395182
miscellaneous food       62.439044
non-food                 90.040896
oil and fats            179.846270
pulses and nuts        2340.824949
vegetables and fruits    30.857101

####4)To find food price per category in all regions
a)overall

In [ ]:
df.loc[(df['date'] <= '2021-02-15') & (df['date'] >= '2006-01-15'), ['category','sh_price','regions']].groupby(['category','regions']).mean()

                                        sh_price
category              regions
cereals and tubers    Coast           953.032147
                      Eastern        1400.781844
                      Nairobi        1462.960261
                      North Eastern    59.196566
                      Nyanza         1973.666468
                      Rift Valley    1343.924173
meat, fish and eggs   Nairobi         485.365448
                      North Eastern   454.166675
                      Rift Valley     441.715682
milk and dairy        Coast            50.000000
                      Eastern          78.333333
                      Nairobi          38.251646
                      North Eastern    83.645825
                      Rift Valley      81.169869
miscellaneous food    Coast            62.499983
                      Eastern          65.000000
                      Nairobi          61.898338
                      North Eastern    52.986117
                      Rift Valley      64.846154
non-food              Nairobi          90.040896
oil and fats          Coast           162.499967
                      Eastern         210.000000
                      Nairobi         178.157038
                      North Eastern   190.000000
                      Rift Valley     206.116064
pulses and nuts       Coast          2351.521225
                      Eastern          70.436685
                      Nairobi        3049.170986
                      North Eastern   108.194433
                      Nyanza         3221.215644
                      Rift Valley    2197.995149
vegetables and fruits Coast            24.444444
                      Eastern          22.833333
                      Nairobi          17.416563
                      North Eastern    64.583325
                      Rift Valley      38.827159

####5)To find food price per category in all regions b) from 2006-01-15 to 2020-feb-29

In [ ]:
df.loc[(df['date'] <= '2020-02-29') & (df['date'] >= '2006-01-15'), ['category','sh_price','regions']].groupby(['category','regions']).mean()

                                     sh_price
category           regions
cereals and tubers Coast          1015.222503
                   Eastern        1446.127459
                   Nairobi        1585.093363
                   North Eastern    56.703114
                   Nyanza         1976.632380
                   Rift Valley    1452.680710
milk and dairy     Nairobi          36.705179
non-food           Nairobi          90.257193
oil and fats       Nairobi         181.658631
pulses and nuts    Coast          2412.627524
                   Eastern          69.050235
                   Nairobi        3138.316910
                   Nyanza         3221.215644
                   Rift Valley    2281.854637

####6)To find food price per category in all regions c) from 2020-03-01 to 2021-feb-15

In [ ]:
df.loc[(df['date'] <= '2021-02-15') & (df['date'] >= '2020-03-01'), ['category','sh_price','regions']].groupby(['category','regions']).mean()

                                       sh_price
category              regions
cereals and tubers    Coast          135.134736
                      Eastern        324.695512
                      Nairobi        191.871317
                      North Eastern   74.988425
                      Nyanza          48.789000
                      Rift Valley    202.871984
meat, fish and eggs   Nairobi        485.365448
                      North Eastern  454.166675
                      Rift Valley    441.715682
milk and dairy        Coast           50.000000
                      Eastern         78.333333
                      Nairobi         48.643908
                      North Eastern   83.645825
                      Rift Valley     81.169869
miscellaneous food    Coast           62.499983
                      Eastern         65.000000
                      Nairobi         61.898338
                      North Eastern   52.986117
                      Rift Valley     64.846154
non-food              Nairobi         88.808000
oil and fats          Coast          162.499967
                      Eastern        210.000000
                      Nairobi        158.548120
                      North Eastern  190.000000
                      Rift Valley    206.116064
pulses and nuts       Coast          736.569043
                      Eastern         91.863636
                      Nairobi        790.807583
                      North Eastern  108.194433
                      Rift Valley    631.795882
vegetables and fruits Coast           24.444444
                      Eastern         22.833333
                      Nairobi         17.416563
                      North Eastern   64.583325
                      Rift Valley     38.827159

###1.6 Conclusions.

Average food prices per category from March 1, 2020 to February 15, 2021 (After Covid 19)
After Covid 19 pandemic, in March 2020, it was noted that the category with the highest prices were pulses and nuts while vegetables and fruits category were the cheapest.

Average food prices per category from January 15, 2006 to February 29, 2020 (Before Covid 19)
It was noted that before Covid 19, the prices for nuts and pulses were high. The category of Milk and dairy had lower prices. 

Average food prices overall (January 15, 2006 to February 15, 2021)
Overally, the category of pulses and nuts were expensive and the cheapest category was vegetable and fruits. 

Food prices per category in all regions:
Overall
Analysis done on food prices per category in all regions indicated that the category of cereals and tubers were expensive in Nyanza and cheapest in North Eastern. For the case of meat, fish and eggs  they were cheap in RiftValley region and expensive in Nairobi region. Milk and dairy were expensive in the North Eastern region and cheap in Nairobi. Oil and fats were expensive in Eastern and cheap in Coast. Pulses and nuts were expensive in Nyanza and cheap in Eastern. Vegetables and fruits were expensive in the North Eastern region and cheap in Nairobi.

The food price per category in all region from January 15, 2006 to February 29, 2020
Cereals and tubers were expensive in Nyanza and cheap in the North Eastern. The prices for milk and dairy were only reported in Nairobi. It was also noted that the prices for oils and fats category were only reported in the Nairobi region. Pulses and nuts were expensive in Nyanza and cheap in Eastern.

Food price per category in all regions from March 1, 2020 to February 15, 2021
Cereals and tubers were expensive in Eastern, cheap in Nyanza. Meat, fish and eggs were cheap in RiftValley and expensive in Nairobi. Milk and dairy were expensive in the North Eastern and cheap in Nairobi. Oils and fats were expensive in Eastern and cheap in Coast. Pulses and nuts were expensive in Nairobi and cheap in Eastern. Vegetables and fruits were expensive in the North Eastern and cheap in Nairobi.

###1.7 Recommendations.

It was noted that there was a drop in prices for some food categories such as pulses, oils and fats, cereals and tubers. It was also noted that there was an increase in prices for some food categories such as milk and dairy. Hence, Covid 19 affected food prices in Kenya during the period of study.

Due to the changes in prices during the infection of Covid 19, we therefore recommend that Kenyans, producers, consumers, government agencies etc should put in place mechanisms and policies such as food security policy, price regulations etc that will cushion them in the event of another pandemic in future.